<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">
    <test name="MainTest" parallel="false">
        <classes>
            <class name="RegistrationNegativeTest">
                <methods>
                    <include name="checkTempoPizzaRegistration"/>
                    <include name="checkUserRegistered"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
